@{
    ViewData["Title"] = "Item não encontrado";
}

<div class="text-center">
    <h1 class="display-4">Item não encontrado</h1>
    <p class="lead">O item que você está tentando acessar não foi encontrado.</p>
    <p></p>
    <p><a asp-action="Index" class="btn btn-primary">Voltar à lista de cargos</a></p>
</div>
