@{
        ViewData["Title"] = "Home";
}

<h2>Supermarket Lista Hierarquica</h2>
<p></p>
<div>
    <a asp-action="Index" asp-controller="Funcionarios" class="btn btn-warning">Gerenciar Funcionários</a>
    <a asp-action="Subordinados" asp-controller="Home" class="btn btn-info">Lista de Subordinados</a>
</div>
<p></p>
<h3>Lista de Funcionários</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Superior</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var funcionario in ViewBag.Funcionarios)
        {
            <tr>
                <td>@funcionario.Nome</td>
                <td>
                    @if (funcionario.Superior != null)
                    {
                        <span>@funcionario.Superior.Nome</span>
                    }
                    else
                    {
                        <span>Nenhum Superior</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
