@{
        ViewData["Title"] = "Home";
}

<h2>Supermarket Lista Hierarquica</h2>
<p></p>
<div>
    <a asp-action="Index" asp-controller="Funcionarios" class="btn btn-warning">Gerenciar Funcionários</a>
    <a asp-action="Subordinados" asp-controller="Home" class="btn btn-info">Lista de Subordinados</a>
</div>
<p></p>
<h3>Lista de Funcionários</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Superior</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var funcionario in ViewBag.Funcionarios)
        {
            <tr>
                <td>@funcionario.Nome</td>
                <td>
                    @if (funcionario.Superiores != null && funcionario.Superiores.Count > 0)
                    {
                        <ul>
                            @foreach (var superior in funcionario.Superiores)
                            {
                                <li>@superior.Nome</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Nenhum Superior</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
