@model Hierarquias.Models.Funcionarios

@{
    ViewData["Title"] = "Deletar Funcionario";
}

<h2>Deletar Funcionário</h2>

<p>Tem certeza de que deseja deletar este Funcionário?</p>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Nome:</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">Sobrenome:</dt>
        <dd class="col-sm-10">@Model.Sobrenome</dd>

        <dt class="col-sm-2">Cargo</dt>
        <dd class="col-sm-10">@Model?.Cargo?.Nome</dd>
    </dl>
</div>
<p></p>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Deletar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
